@page
@model Tyler_Tech_Test.Pages.subordinate_viewerModel
@{
    ViewData["Title"] = "Home page";
}

<title>S-Squared Enterprises Personnel System</title>
<h1>S-Squared Enterprises Personnel System</h1>

<label for="manager-dropdown">Manager:</label>
<select name="manager-dropdown"></select>

<table>
    <tr>
        <th>Employee ID</th>
        <th>Last Name</th>
        <th>First Name</th>
    </tr>
</table>

<button name="add-button">Add Employee</button>