@page
@model Tyler_Tech_Test.Pages.subordinate_viewerModel
@{
    ViewData["Title"] = "Subordinate Viewer";
}
@Html.AntiForgeryToken()

<title>S-Squared Enterprises Personnel System</title>
<h1>S-Squared Enterprises Personnel System</h1>

<label for="manager-dropdown">Manager: </label>
<select name="manager-dropdown" id="manager-dropdown">
    <option value=""></option>
@{
    foreach (var manager in Model.managerList)
    {
        <option value="@manager.ID">@manager.LastName, @manager.FirstName</option>
    }
}
</select>

<table id="employee-table">
    <tr>
        <th>Employee ID</th>
        <th>Last Name</th>
        <th>First Name</th>
    </tr>
</table>

<button id="add-button" name="add-button">Add Employee</button>